footer
{
    grid-area: footer;

    background: linear-gradient($background-color 0%, $background-color 40%, $primary-color 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    color : $sec-background-color;
    font-size : 0.7rem;





    
}

.footer
{
     text-align: center;
}

