.main
{
    margin : auto;
    padding: 2rem;
    width: 60%;
    color : $sec-background-color;
    


    
    

    &__bann
    {
        background: linear-gradient(to right, $second-color, $background-color);
        color : $sec-background-color;
        border-radius : 5px;
        padding-left : 2rem;
        padding-top : 2px;
        padding-bottom : 2px;

        animation-delay: 5s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-name: errase_bann;

    }


    &__posts
    {
      

        
        //background: linear-gradient($sec-background-color, $sec-background-color 50%, $background-color);
        background-color: $sec-background-color;
        color: $background-color;
        border-radius : 20px;
        margin-top : 2rem;
        padding: 2rem;

        & li
        {
            display: flex;

            &:nth-child(2)
            {
                margin-left : 20px;
            }
        }

        


    }

    &__postImg
    {
        
        width: 200px;
        height: 200px;
        background-size: cover;
        margin-right: 20px;
    }
}



