nav
{
    grid-area: nav;

    background-color: $background-color;

    color: $sec-background-color;


   
}


nav a 
{
    color: $sec-background-color;
}

nav ul 
{
    position : absolute;
    padding-top : 2rem;

    @media screen and (max-width : 1080px)
    {
        display : flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
    }

    & li 
    {
        @media screen and (max-width : 1080px)
        {
            margin: 0px;
        }
    }

}






