nav
{
    grid-area: nav;

    background-color: $background-color;

    color: $sec-background-color;
}


nav a 
{
    color: $sec-background-color;
}

nav ul 
{
    position : absolute;
    padding-top : 2rem;

}




