.post
{   
    display : flex;
    flex-direction : column;

    &__header
    {
        display : flex;
        justify-content : space-between;
        font-family: Roboto-Italic;
    }
    
    & h1
    {
        font-size : 3rem;
    }

    & a
    {
        text-decoration : underline dotted $second-color;
        color : $sec-background-color;
        &:hover
        {
            //font-size :1.02em;
            text-decoration : underline dotted $primary-color;
        }
        &:visited
        {
            color : $sec-background-color;

        }
    }

    & img   
    {
        margin : auto;

        
        &:nth-child(3)   // Format 2:1 environ
        {
            width : 100%;
            height: auto;
        }
        
        

        &:nth-child(n+5)
        {
            width : 65%;
            height: auto;
        }
    }

    &__admin
    {
        display : flex;
        justify-content : space-between;
    }
}
