body
{
    position : absolute;
    width: 100%;
    //min-height: 100vh;
    height: 100%;
    margin : 0px;
                
    font-family: Roboto-Regular;

    @media screen and (max-width : 1500px)
    {
        position : static;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 100vh;
    }
}



a
{
    text-decoration : none;
    &:visited
    {
        color : none;
        text-decoration : none;
    }
}

ul
{
    list-style-type: none;
    padding-left: 0px;
}

h1
{
    font-family: Roboto-Bold;
    font-size: 2rem;
}

h2
{
    font-family: Roboto-Medium;
    font-size: 1.5rem;
}

em
{ 
    font-style: normal; 
    font-family: Roboto-Medium; 
}